IDP_MENU         RCDATA  "res/menu.png" 
IDP_OPEN         RCDATA  "res/open.png"
IDP_SAVE         RCDATA  "res/save.png"
IDP_HOME         RCDATA  "res/home.png"
IDP_NEW          RCDATA  "res/new.png" 
IDP_CLOSE        RCDATA  "res/close.png"
IDP_FRONT        RCDATA  "res/front.png"
IDP_TOP          RCDATA  "res/top.png" 
IDP_FITS         RCDATA  "res/fits.png"
IDP_FITBIT       RCDATA  "res/fitbit.png"
IDP_RIGHT        RCDATA  "res/right.png"
IDP_LAYOUT       RCDATA  "res/layout.png"
IDP_CUBE         RCDATA  "res/cube.png" 
IDP_SPHERE       RCDATA  "res/sphere.png"
IDP_CONE         RCDATA  "res/cone.png"
IDP_CYLINDER     RCDATA  "res/cylinder.png" 
IDP_COPY         RCDATA  "res/copy.png"
IDP_CUT          RCDATA  "res/cut.png"
IDP_PASTE        RCDATA  "res/paste.png"
IDP_EDIT         RCDATA  "res/edit.png"
IDP_MODIFY       RCDATA  "res/modify.png"
IDP_FIND         RCDATA  "res/find.png"
IDP_SELECT       RCDATA  "res/select.png"
IDP_FILEMENU     RCDATA  "res/filemenu.png"
IDP_HELP         RCDATA  "res/help.png"
IDP_ABOUT        RCDATA  "res/about.png"
IDP_INFO         RCDATA  "res/info.png"
IDP_STOP         RCDATA  "res/stop.png"
IDP_PERSON       RCDATA  "res/person.png" 
IDP_USER         RCDATA  "res/user.png" 
IDP_SETTING      RCDATA  "res/setting.png"
IDP_EXIT         RCDATA  "res/exit.png"
HOME_SVG         RCDATA  "res/home.svg"

